<!-- <div layout="vertical" layout-fill>

  <md-content>

    <div class="techs" layout-align="center">
      <div class="card">
        <div class="pull-right" ng-repeat="thumb in main.thumbnails">
          <img ng-src="{{thumb.url}}">
        </div>
      </div>
    </div>
  </md-content>

</div> -->

<div>
  <div class="header">{{main.currentFeed}}</div> 
  <ul class="grid" infinite-scroll="main.loadMore()">
    <!-- To check stagger-{{$index*100}} -->
    <li class="animate fadeIn enter-fadeIn speed-3000" ng-repeat="thumb in main.thumbnails">

      <a href="{{thumb.url}}">
        <div class="content" ng-init="active=false" ng-mouseenter="active=true" ng-mouseleave="active=false">
          <div class="image" style="background-image:url({{thumb.image}});" ng-class="{active:active}"></div>
          <div class="description" ng-class="{active:active}">
            <div class="label">
              {{thumb.title}}
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
