/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower
// Card number per resolution
$res-count: "default" "6", "1500px" "5", "1190px" "4", "945px" "3", "660px" "2", "400px" "1";
$image-padding: 4px;
@import url(http://fonts.googleapis.com/css?family=Lato);
body {
  font-family: 'Lato', serif;
  background-color: #333333;
}
.header {
  background-color: #222222;
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
  select {
    color: white;
    background-color: transparent;
    border: none;
    option {
        color: black;
    }
  }
}
.grid {
  padding: 0;
  position: relative;
  width: 100%;
  overflow: auto;
  li {
    position: relative;
    float: left;
    overflow: hidden;
    @each $count in $res-count {
      @if nth($count,1) != 'default' {
        @media screen and (max-width: #{nth($count, 1)}) {
          width: calc(100% / #{nth($count, 2)});
        }
      }
      @else {
        width: calc(100% / #{nth($count, 2)});
      }
    }
    &:before {
      content: "";
      display: block;
      padding-top: 80%;
    }
    .content {
      position: absolute;
      top: $image-padding;
      bottom: $image-padding;
      left: $image-padding;
      right: $image-padding;
      overflow: hidden;
      border: 8px solid #222222;
      .image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;
        background-position: 50%;
        transition: all 0.3s;
        opacity: 0.6;
        &.active {
          opacity: 1.0;
          transform: scale(1.05,1.05);
        }
      }
      .description {
        position: absolute;
        bottom: -60px;
        height: 40px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        transition: all 0.3s;
        font-size: 12px;
        padding: 10px;
        &.active {
          bottom: 0;
        }
        .label {
          color: white;
          // background-color: rgba(250, 250, 250, 0.5);
          height: 20px;
        }
        .count {
          margin-right: 8px;
          color: grey;
        }
      }
    }
  }
}
/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
